body {
    background-color: rgb(10, 10, 10);
    color: rgb(224, 224, 223);
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    font-family: 'Franklin Gothic Wide', sans-serif;
    color: rgb(253, 211, 251);
}

a {
    color: rgb(228, 95, 240);
}
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }