body{
  background-color: rgb(231, 255, 94);
}

.one {
 font-size: 20pt;
}

.two {
  font-size: 200pt;
  text-align: center;
  text-decoration-color: brown;
}

.three {
  image-resolution: 100%;
  align-items: center;
}


 .GFG {
  background-color: white;
  border: 2px solid black;
  color: green;
  padding: 30px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 10px 30px;
  cursor: pointer;
  text-decoration:none;
        }

