* {
  box-sizing: border-box;
}

body{
  background-color: rgb(231, 255, 94);
}

.one {
 font-size: 20pt;
 font-family: "Lucida Console", "Courier New", monospace;
}

.two {
  font-size: 200pt;
  text-align: center;
  text-decoration-color: brown;
}

.three {
  image-resolution: 100%;
  align-items: center;
}

.topnav



 .GFG {
  background-color: rgb(57, 65, 38);
  color: rgb(251, 253, 138);
  padding: 20px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 10px 20px;
  cursor: pointer;
  text-decoration:none;
        }

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(240, 109, 207);
  color: black;
  border-radius: 50%;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
  border-radius: 90%;
}

.food-page .flexparent{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}

.food-page .flexparent div{
  flex:40%;
  padding: 20px;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 90;
  transition: .5s ease;
  background-color: #575c2b;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.container:hover .overlay {
  opacity: 1;
}

.rotate {
  align-content: center;
  animation: rotation 8s infinite linear;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 220px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }