*{
    margin: 3;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: rgb(150, 203, 247);
}

#back-wheel, #front-wheel {
    animation: wheel 1s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}
#biker{
    animation: bike 1s ease-in-out infinite alternate
}

@keyframes wheel{
    from{
        transform: rotateZ(0deg)
    }
    to {
        transform: rotateZ(360deg);
    }
}
